@charset "UTF-8";
@import "mysite.css";

#site-introduction				{ display:flex; flex-direction:column; padding:20px; width:540px }
#site-introduction img#profile	{ margin:auto; }
#site-introduction h2		   	{ margin:30px auto 0 }
#site-introduction p			{ clear:both; font-size:1.1em; padding:20px; margin:auto; line-height:1.5em }