@charset "utf-8";

html {
  margin: 0;
  padding: 0;
  font: 0.75em "맑은 고딕", "돋움", "굴림";
  text-align: center;

  body {
    :global(#root) {
      width: 100%;

      :global(#App) {
        width: 100%;
      }
    }
  }
}
