<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${@site.title}"></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link th:href="@{/assets/css/user.css}" rel="stylesheet" type="text/css">
	<script th:src="@{/assets/js/jquery/jquery-1.9.0.js}"></script>
	<script>
	$(function() {
		$("#btn-check").click(function() {
			var email = $("#email").val();
			if(email == '') {
				return;
			}
			
			$.ajax({
				url: "${pageContext.request.contextPath}/user/api/checkemail?email=" + email,
				type: "get",
				dataType: "json",
				error: function(xhr, status, err){
					console.error(err);			
				},
				success: function(response) {
					if(response.result == "fail") {
						console.error(response.message);
						return;
					}
					
					if(response.data) {
						alert("존재하는 이메일입니다. 다른 이메일을 사용해 주세요.");
						$("#email").val("");
						$("#email").focus();
						return;
					}
					
					// 사용할 수 있는 이메일
					$("#btn-check").hide();
					$("#img-check").show();
				}
			});
		})
	});
	</script>
</head>
<body>
	<div id="container">
		<th:block th:include="includes/header"></th:block>
			<form id="join-form" name="joinForm" th:object="${userVo}" method="post" th:action="@{/user/join}">
				<label class="block-label" for="name" th:text="#{user.join.label.name}"></label>
				<input type="text" id="name" th:field="*{name}">
				<p style="padding:3px 0 5px 0; text-align: left; color: #f00" th:if="${#fields.hasErrors('name')}"th:text="${#fields.errors('name')[0]}"></p>
				
				<label class="block-label" for="email" th:text="#{user.join.label.email}"></label>
				<input type="text" id="email" th:field="*{email}">
				<input type="button" th:value="#{user.join.label.email.check}">
				<p style="padding:3px 0 5px 0; text-align: left; color: #f00" th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email')[0]}"></p>
				
				<label class="block-label" th:text="#{user.join.label.password}"></label>
				<input type="password" name="password" th:value="*{password}">
				<p style="padding:3px 0 5px 0; text-align: left; color: #f00" th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')[0]}"></p>
				
				<fieldset>
					<legend th:text="#{user.join.label.gender}"></legend>
					<label th:text="#{user.join.label.gender.female}"></label> <input type="radio" name="gender" value="female" th:checked="*{gender == 'female'}">
					<label th:text="#{user.join.label.gender.male}"></label> <input type="radio" name="gender" value="male" th:checked="*{gender == 'male'}">
				</fieldset>
				
				<fieldset>
					<legend th:text="#{user.join.label.terms}"></legend>
					<input id="agree-prov" type="checkbox" name="agreeProv" value="y">
					<label th:text="#{user.join.label.terms.message}"></label>
				</fieldset>
				
				<input type="submit" th:value="#{user.join.button.signup}">	
			</form>
		<th:block th:include="includes/navigation"></th:block>
		<th:block th:include="includes/footer"></th:block>
	</div>
</body>
</html>